*{
    text-decoration: none;
}
:root{
    --fon: black;
}
.fp{
    background-color: antiquewhite;
}

body{
    width:150%;
    height:150%;
    background-image: url("landing page/burdger-removebg-preview.png");
    background-color: rgb(143, 186, 211);
    background-position:550px 130px;
    background-repeat: no-repeat;
    background-attachment: scroll;
    overflow-x: hidden;  
}
.line{
    display: flex;
    position: absolute;
    background-color: bisque;
    height: 40px;
    width: 100%;
}
.scr{ 
    font-weight: bold; 
    justify-content: center; 
    transform: translateX(100%);
    animation: moving 25s linear infinite;
}
@keyframes moving{
    0%{
        transform:translateX(100%);
    }
    100%{
        transform:translateX(-100%);
    }
}

.header{
    background-color: rgb(250, 246, 242);
}

.log{
    color: bisque;
    width: 170px;
    height:100px;
    margin-left: 30px;
    background-position: left top;
}

.click{
    position:absolute;
    top:40px;
    left:40%;
}
.sear{
    border-style: solid;
    border-radius: 10px;
    width:70px;
    height: 3px;
}
.click a:hover{
    border-style: solid;
    color: black;
}


a{
    font-size: larger;
    font-weight: bolder;
    color:var(--fon);
    padding:20px;
    

}
@font-face {
    font-family:myfont ;
    src: url(SnowForSanta.ttf);
    
}
@font-face {
    font-family: word;
    src: url(Camila.ttf);
}


.hh{
    position: absolute;
    bottom: 250px;
    font-size: 50px;
   color: var(--fon);
   font-family: myfont;

}
.pa{
    font-family: ;
    position: absolute;
    top: 350px;
}
#list li {
    text-decoration: none;
    display: inline;
    padding: 15px;
    border-style: solid;
    border-radius: 50%;
    transition-property:background-color;
    transition-delay: 1s;
    transition-timing-function: ease;
}
#list{
    margin-top: 380px;
    margin-left: 20px;
}
#list li:hover{
    
    background-color: bisque;
}


.photo{
    display: flex;
    width:60%;
    justify-content:space-between;
    margin-left: 50px;
    margin-top: 80px;
}
.pic{
    width: 100%;
    height: 100%;
}

.sin{
    width: 200px;
    height: 220px;
}

h3{
    text-align: center;
    font-family: word;
}
p{
    text-align: center;
    
}
button{
    margin-left:45px;
    border-style: solid;
    padding: 10px;
    width: 100px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(68, 68, 50);
    border-color: rgb(248, 235, 54);

}
button:hover{
    background-color: rgb(236, 113, 104);
}
.box{
    padding: 15px;
    border-style: solid;
    border-width: 5px;
    border-radius: 20%;
    box-shadow: 12px 12px 7px black;
}
.checked {
    color: orange;
  }
.star{
    margin-left: 50px;
} 
.h1{
    font-family: myfont;
    margin-top: 170px;
    margin-left: 50px;
    font-size: 50px;
} 

.sp{
    width: 100%;
    height: 700px;
    background-image:url("bg/back2.jpg");
    background-size: contain;
}
.box:hover{
    background-color: bisque;
}
.words{
    display:grid;
    grid-template-columns: 300px 300px;
    grid-template-rows: 100px 100px;
}
.indiv p{
    position: relative;
    margin-left: 10px;
    bottom: 70px;
    font-family:word ;
    font-size: 20px;

}
.fulser .service h1{
    font-family: myfont;
}
.fulser .service pre{
    font-family: 'Times New Roman', Times, serif;
}
.fulser{
    margin-top:300px;
    margin-left: 30px;

}

.pppp{
   position: absolute;
   top:1500px;
   margin-left: 680px;
}
.data{
    position: absolute;
    top:1480px;
}

.table{
    display: flex;
    padding: 20px;
    flex-direction: column;
    margin-left: 600px;
}
input{
    width: 37%;
    padding: 17px;
    border-radius: 15px;
    border-style: solid;
}
.book{
    background-image: url("bg/back2.jpg");
    background-size: contain;
}
.bk{
    margin-left: 640px;
    font-family: myfont;
    font-size: 53px;
}
.butty{
    margin-left:45px;
    border-style: solid;
    border-radius: 15px;
    padding: 20px;
    width: 170px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(68, 68, 50);
    border-color: rgb(248, 235, 54);

}
.butty:hover{
    background-color: rgb(236, 113, 104);
}
#ph{
    width: 300px;
    height: 600px;
    margin-left: 90px;
}
#phne{
    position: absolute;
    top:2120px;
}
.con{
    display: grid;
}
.connect{
       width: 300px;
       margin-left:180px;
}
.open{
    position:absolute;
    margin-left:820px;
    width:300px;
    top:2760px;
}
.connect h1{
    font-family: myfont;
}
.open h1{
    font-family: myfont;
}

.connect p{
    font-family: 'Times New Roman', Times, serif;
}
.open p{
    font-family: 'Times New Roman', Times, serif;
}